{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if user.is_authenticated %}
    {% if title != "Following" %}
        <div id="newPost" style="border: 2px solid lightgray;">
            <form id="createPost" action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type = "submit">Post</button>
            </form>
        </div>
    {% endif %}
{% endif %}

<div id="post-view">
    {% for post in page_obj %}
        <div id="post" style="border: 1px solid lightgray;">
            <a href="{% url 'profile' post.owner %}"><h3>{{post.owner}}</h3></a>
            <h6>{{post.timestamp}}</h6>
            <p id="post-content">{{post.content}}</p>
            <p>Likes: {{post.likes}}</p>
            {% if request.user.is_authenticated %}
                {% if post.owner|stringformat:"s" == request.user.username|stringformat:"s" %}
                    <button type="button" class="editPost">Edit Post</button><br/><br/>
                {% else %}
                    <button type="button" class="likePost">Like</button><br/><br/>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}
