{% extends "network/layout.html" %}

{% block body %}
<div id="profile-info" style="border: 5px dotted black">
    <h1 style="text-align: center;">Welcome to {{ profile.username }}'s Profile</h1>
    {% if request.user.is_authenticated %}
        {% if profile.username != request.user %}
            {% if isFollowing == False %}
                <form action="{% url 'follow' profile.username %}" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Follow {{profile.user}}</button>
                </form>
            {% else %}
                <form action="{% url 'unfollow' profile.username %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Unfollow {{profile.user}}</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
    <h5>Followers: {{profile.numFollowers}}</h5>
    <h5>Following: {{profile.numFollowing}}</h5>
</div><br/><br/>

<h2>Posts</h2>
<div id="post-view">
    {% for post in posts %}
        <div style="border: 1px solid lightgray;">
            <h3>{{post.owner}}</h3>
            <h6>{{post.timestamp}}</h6>
            <p>{{post.content}}</p>
            <p>Likes: {{post.likes}}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
